body {
  margin: 0;
  background: black;
  overflow: hidden;
}

.aura {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(
      from 0deg,
      purple, blue, cyan, lightgreen, purple
  );
  filter: blur(100px);
  animation: spin 6s linear infinite;
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

